{{#paper-menu position="target-right target" as |menu|}}
  {{#paper-menu-item action="openSomething"}}
      <p style="width: 190px;">THOR</p>
    {{paper-icon "toys" class="md-menu-align-target"}}
  {{/paper-menu-item}}
{{/paper-menu}}
